---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="md:mx-auto md:w-4xl border">
      <div class="relative">
        <div
          class="bg-gray-400 h-[250px] mb-[100px] bg-[url(/bg.jpg)] bg-[position:50%_70%] bg-[length:100%]"
        >
        </div>
        <div
          class="bg-white left-[20px] top-[65%] absolute rounded-full w-[170px] h-[170px] border"
        >
          <div
            class="absolute w-[150px] h-[150px] left-[10px] top-[10px] rounded-full z-50 border bg-amber-300 bg-[url(/profile.jpg)] bg-[position:50%_70%] bg-[length:100%]"
          >
          </div>
        </div>
      </div>
      <div class="mx-8 md:mx-0 px-8">
        <h1>👨🏻‍💻 Hello, EveryOne</h1>
        <p>Welcome to the official To My Website</p>
        <p>
          Let Me Introduce My Self
          <br />  My name is Atip Nasakul, and I'm 23 years old. I'm currently
          working as a fullstack developer with a strong interest in combining
          various technologies to create cohesive solutions. I am passionate
          about finance, startups, technology, and building software or web
          applications.   My skills include building desktop applications and
          web applications with server-side integration. I’ve worked on several
          personal projects and have experience in development, and domain
          registration.  And want to learn many things or know many technologies
          in order to understand and use them appropriately or integrate many
          technologies to solve problems or create new things.

          <!-- <code>astro.config.mjs</code> file. You can customize your setup with
				<a href="https://astro.build/integrations">Astro Integrations</a> to add tools like Tailwind,
				React, or Vue to your project. -->
        </p>
        <p>
          Interesting / learning
          <br />
          English (Improving language skills for better communication) Design Patterns/System
          Design/Programing Technique Server-side Technologies Rust/Ruby/Scala/Astro
          Blockchain technology Financial and btc AI technology Ux/Ui
        </p>
        <p>Here are a few Recent Project I do and Learn:</p>
        <ul>
          <li>simply dummy text of the printing and typesetting industry.</li>
          <li>
            Lorem Ipsum has been the industry's standard dummy text ever since
            the 1500s
          </li>
          <li>
            when an unknown printer took a galley of type and scrambled it to
            make a type specimen book
          </li>
          <li>
            It has survived not only five centuries, but also the leap into
            electronic typesetting
          </li>
          <li>
            remaining essentially unchanged. It was popularised in the 1960s
            with the release
          </li>
        </ul>
        <p>In my freetime</p>
        <p>
          Looking for a blog template with a bit more personality? Check out <a
            href="https://github.com/Charca/astro-blog-template"
            >astro-blog-template
          </a> by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
        </p>
      </div>
    </main>
    <Footer />
  </body>
</html>
